{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>{% block title %}{% endblock %} | Juan Pérez (Ingeniero)</title>
    <!-- Estilos y fuentes del template -->
    <link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'core/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/clean-blog.min.css' %}" rel="stylesheet">
</head>
<body>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Portada</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about-me' %}">Acerca de</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'portfolio' %}">Portafolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contacto</a>
            </li>
        </ul>
    </div>

    <a class="navbar-brand" href="{% url 'home' %}">Juan Pérez</a>           

    {% block content %}{% endblock %}

    <!-- Bootstrap y Javascripts -->
    <script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'core/js/clean-blog.min.js' %}"></script>
</body>
</html>
